/build/
/target/
*/build/
*/target/
/.externalToolBuilders/
/.settings/
.settings/
/WebContent/
/lucene/
/.idea/
.idea_modules/
.idea/
*.eml
*.iml
*.zip
*.project
*.classpath
*.settings
*.classes
*.class
*.jar

#Mac OSX
.DS_Store
