<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 自动扫描包 ,将带有注解的类 纳入spring容器管理 -->
    <util:properties id="appProperties" location="classpath:/app.properties" />

    <bean id="injectedObject" class="xin.gonefuture.spring.InjectedObject">
        <constructor-arg value="基本类型构造参数"/>
        <!--<property name="defaultLocale" value="zh_CN"/>-->
    </bean>


    <bean id="user" class="xin.gonefuture.spring.UserFactoryBean">
        <property name="name" value="gonefuture"/>
        <property name="email" value="gonefuture@qq.com"/>
    </bean>


    <bean id="hello" class="java.lang.String"/>



</beans>